* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;
   }

.container {

    /* margin: 10px; */
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 50px;
    border-right: 2px #2DD35C solid;
    border-top: 2px #2DD35C solid;
    border-bottom: 2px #2DD35C solid;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 20px;


}
.margin-container {
    position: absolute;
    border-left: 3px black solid;
    height: 300px;
    width: 700px;
    margin: 0;
    padding: 0;
}
.inner-container {
    position: absolute;
    border: 2px rgb(85, 83, 183,.5) solid;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 20px;
    height: 170px;
    width: 400px;
    background-color: #5553B7;
    opacity: .5;
    left: 450px;
    z-index: 1;
    top: 50px;
}

p {
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 0;
}
.h2-2 {
    color: #5553B7;
    font-weight: bold;
}
.head-div {
    height: 100px;
}
.btn-div {
    height: 50px;
}
button {
    height: 36px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 15px;
    border-radius: 20px;
}
.btn1 {
    background-color: #2DD35C;
    border: 1px #2DD35C solid;
    color: white;
}

.btn1:hover {
    background-color: #fff;
    color: #2DD35C;
}

.btn2:hover {
    background-color: #5553B7;
    color: #fff;
}

.btn2 {
    background-color: white;
    color: #5553B7;
    border: 1px #5553B7 solid;
}